<div class="p-6">
  <h2 class="text-3xl font-semibold text-center mb-4 text-(--black)">Contacto</h2>
  <div class="grid grid-cols-1 gap-4">
    <div class="bg-(--bone) rounded-xl p-2 drop-shadow-lg flex">
      <div class="bg-(--white) rounded-sm w-1/2 aspect-16/9">
        <img src="assets/images/reference-title.webp" alt="Imagen" class="aspect-16/9 rounded-sm object-cover" />
      </div>
      <div class="w-1/2 pl-2">
        <h3 class="font-semibold">Institution</h3>
        <p class="text-sm">Certificate's title</p>
        <p class="text-xs/tight">date/year</p>
      </div>
    </div>
  </div>
</div>