<div class="p-6">
  <div class="flex items-center mb-4 text-(--black)">
    <img src="assets/icons/work.svg" class="size-8" alt="technologies section icon">
    <h2 class="text-3xl font-semibold ml-1">Experiencia</h2>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div class="bg-(--bone) rounded-xl p-2 drop-shadow-lg">
      <div class="bg-(--white) rounded-sm aspect-16/9">
        <img src="assets/images/kiwiprep.webp" alt="Imagen" class="aspect-16/9 rounded-sm object-cover" />
      </div>
      <h3 class="text-center">KiwiPrep</h3>
    </div>
    <div class="bg-(--bone) rounded-xl p-2 drop-shadow-lg">
      <div class="bg-(--white) rounded-sm aspect-16/9">
        <img src="assets/images/linktree-clon.webp" alt="Imagen" class="aspect-16/9 rounded-sm object-cover" />
      </div>
      <h3 class="text-center">Página de Links</h3>
    </div>   
  </div>
</div>
  
