<div class="p-6">
  <div class="flex items-center mb-4 text-(--black)">
    <img src="assets/icons/certificate.svg" class="size-8" alt="technologies section icon">
    <h2 class="text-3xl font-semibold ml-1">Certificaciones</h2>
  </div>
  <div class="grid grid-cols-1 gap-4">
    <div class="bg-(--bone) rounded-xl p-2 drop-shadow-lg flex">
      <div class="bg-(--white) rounded-sm w-1/2 aspect-16/9">
        <img src="assets/images/certifications/coding-dojo.webp" alt="Imagen" class="aspect-16/9 rounded-sm object-cover" />
      </div>
      <div class="w-1/2 pl-2">
        <h3 class="font-semibold">Coding Dojo</h3>
        <p class="text-sm">Desarrollo Web con Spring-boot</p>
        <p class="text-xs/tight">oct. 2023</p>
      </div>
    </div>
    <div class="bg-(--bone) rounded-xl p-2 drop-shadow-lg flex">
      <div class="bg-(--white) rounded-sm w-1/2 aspect-16/9">
        <img src="assets/images/certifications/java-oracle.webp" alt="Imagen" class="aspect-16/9 rounded-sm object-cover" />
      </div>
      <div class="w-1/2 pl-2">
        <h3 class="font-semibold text-balance">Oracle + alura LATAM</h3>
        <p class="text-sm">Backend con Java Spring-boot</p>
        <p class="text-xs/tight">jul. 2024</p>
      </div>
    </div>
  </div>
</div>