<div class="p-6">
  <h2 class="text-3xl font-semibold text-center mb-4 text-(--black)">Tecnologías</h2>
  <div class="swiper min-h-50">
    <div class="swiper-wrapper">
      <div class="swiper-slide grid grid-cols-2 gap-4">
        <div class="grid grid-cols-2 gap-6">
          <img src="assets/icons/technologies/html.svg" width="64px" height="64px" alt="html logo">
          <img src="assets/icons/technologies/css.svg" width="64px" height="64px" alt="css logo">
          <img src="assets/icons/technologies/javascript.svg" width="64px" height="64px" alt="javascript logo">
          <img src="assets/icons/technologies/git.svg" width="64px" height="64px" alt="git logo">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="grid grid-cols-2 gap-6">
          <img src="assets/icons/technologies/django.svg" width="64px" height="64px" alt="django logo">
          <img src="assets/icons/technologies/python.svg" width="64px" height="64px" alt="python logo">
          <img src="assets/icons/technologies/angular.svg" width="64px" height="64px" alt="angular logo">
          <img src="assets/icons/technologies/typescript.svg" width="64px" height="64px" alt="typescript logo">
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>