<div class="p-6">
  <div class="flex items-center mb-4 text-(--black)">
    <img src="assets/icons/technologies.svg" class="size-8" alt="technologies section icon">
    <h2 class="text-3xl font-semibold ml-1">Tecnologías</h2>
  </div>
  <div class="swiper min-h-75">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="grid grid-cols-2 gap-4">
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/html.svg" class="w-full p-2" alt="html logo">
          </div>
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/css.svg" class="w-full p-2" alt="css logo">
          </div>
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/javascript.svg" class="w-full p-2" alt="javascript logo">
          </div>
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/git.svg" class="w-full p-2" alt="git logo">
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="grid grid-cols-2 gap-4">
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/django.svg" class="w-full p-2" alt="django logo">
          </div>
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/python.svg" class="w-full p-2" alt="python logo">
          </div>
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/angular.svg" class="w-full p-2" alt="angular logo">
          </div>
          <div class="bg-(--bone) rounded-full size-28 grid place-content-center p-4 drop-shadow-md">
            <img src="assets/icons/technologies/typescript.svg" class="w-full p-2" alt="typescript logo">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>