<div class="bg-linear-to-br from-(--bone) from-37% to-(--olive) pt-22 pb-6 px-6 flex">
  <p class="leading-tight text-pretty inline-block flex-1 justify-items-center pr-1">
    Soy Desarrollador Full Stack, 
    busco un lugar donde seguir creciendo. <br>
    Soy muy comprometido y responsable, además siempre 
    doy todo de mi en los proyectos en los que soy incluído.
  </p>
  <div class=" flex flex-col items-center gap-4">
    <img src="assets/images/temporal.jpg" class="drop-shadow-lg z-1 rounded-full" height="148px" width="148px" alt="jair photo">
    <button type="button" class="bg-(--olive) rounded-full border border-(--black) py-2 px-4 text-(--white) drop-shadow-lg">
      Descargar CV
    </button>
  </div>
</div>
